.container-buttons {
    display: flex;
    justify-content: flex-end;
    grid-gap: 10px;
    margin-top: 2em;
}

.btn-card {
    border-radius: 200%;
}

.container-card {
    transform: scale(1);
    transition: 0.2s;
}

.container-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.margin-rows {
    margin-bottom: 2em;
}

h6 {
    color: #23b923;
}

.container-filters {
    margin-bottom: 4%;
    border-radius: 4px;
    border: 1px solid rgb(210, 209, 209);
}

.container-controls {
    padding: 2%;
}

.container-search {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.price {
    text-align: right;
}

.bi {
    height: 1.5em !important;
}

.color-icon {
    color: blue;
}