<div class="card text-center container-password">
    <div class="card-header h5 text-white bg-primary">Reestablecer contraseña</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Ingrese su dirección de correo electrónico y le enviaremos un correo electrónico con instrucciones para restablecer su contraseña.  
        </p>
        <div class="form-outline">
            <form [formGroup]="frmReset" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-lg-12">
                        <input class="form-control"
                               placeholder="Email"
                               formControlName="email"
                               [ngClass]="{'is-invalid': getEmailField?.touched && getEmailField?.errors }"/>
                        <div *ngIf="getEmailField?.touched && getEmailField?.errors" class="invalid-feedback">
                            <div *ngIf="getEmailField?.hasError('required')">
                              El campo email es requerido
                            </div>
                            <div *ngIf="getEmailField?.hasError('email')">
                              Debe ingresar un correo válido
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <a class="btn btn-primary w-100" (click)="resetPassword()">Reestrablecer contraseña</a>
        <div class="d-flex justify-content-between mt-4">
            <a routerLink="/auth/login">Login</a>
            <a routerLink="/auth/register-user">Registrarme</a>
        </div>
    </div>
    <app-alert [alert]="alert"></app-alert>
</div>