.container-information {
    border: 1px solid #ddd8d8;
    border-radius: 10px;
    padding: 1em;
}

.container-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
}

.color {
    color: #23b923;
    margin-bottom: 1em;
}
.container-send {
    display: flex;
    align-items: center;
    grid-gap: 10px;
}


.container-send > i {
    font-size: larger;
}

.btn-buy {
    margin-top: 1.5em;
    width: 100%;
}

.container-description {
    margin-top: 1em;
}

.full-height {
    height: 100%;
}

img {
    height: 100%;
}

span {
    font-weight: bold;
}

.container-btn-return {
    display: flex;
    justify-content: flex-end;
}

.container-save {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.container-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h6 {
    color: #8e8c8c;
}

.container-comment {
    padding: 2%;
    border-bottom: 1px solid #dbd6d6;
}

.container-principal-comment{
    margin: 0%;
    border-radius: 8px;
    border: 1px solid #dbd6d6;
}