<div class="container">
    <h3>Mis compras</h3>
    <hr>
    <div class="container-form">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fecha</th>
                    <th>Medio de pago</th>
                    <th class="text-right">Total</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let buy of lstBuys">
                    <td>{{buy.codigoCompra}}</td>
                    <td>{{buy.fechaCreacion | date}}</td>
                    <td>{{buy.medioPago}}</td>
                    <td class="text-right">{{buy.precioTotal | currency}}</td>
                    <td class="text-center" [ngClass]="{'success': buy.estadoCompra.toString() === 'APROBADA', 'warning': buy.estadoCompra.toString() === 'CANCELADA', 'error': buy.estadoCompra.toString() === 'RECHAZADA'}">
                        {{buy.estadoCompra}}
                    </td>
                    <td>
                        <div class="container-btn">
                            <button class="btn btn-outline-primary btn-sm"
                                    placement="bottom"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalDeatil"
                                    ngbTooltip="Ver detalle"
                                    (click)="viewDetails(buy)">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal de detalles -->
<div class="modal fade" id="modalDeatil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle de compra #{{currentBuy?.codigoCompra}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
              <thead>
                  <tr>
                      <th>Producto</th>
                      <th style="text-align: right;">Cantidad</th>
                      <th style="text-align: right;">Precio</th>
                  </tr>
              </thead>
              <tbody class="table-group-divider">
                  <tr *ngFor="let detail of currentBuy?.detalleCompraGetDTO">
                    <td>{{detail.nombreProducto}}</td>
                    <td style="text-align: right;">{{detail.unidades}}</td>
                    <td style="text-align: right;">{{detail.precioProducto | currency}}</td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>