<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="frmLogin"
                class="needs-validation"
                novalidate>  
            <div class="divider d-flex align-items-center my-4">
              <h2>Login</h2>
            </div>
  
            <div class="form-outline mb-4">
                <label class="form-label">Email o nombre de usuario</label>
                <input type="text" 
                    class="form-control form-control-lg"
                    formControlName="user"
                    required
                    [ngClass]="{'is-invalid': getUserField?.touched && getUserField?.errors }"/>
                <div *ngIf="getUserField?.touched && getUserField?.errors" class="invalid-feedback">
                    <div *ngIf="getUserField?.hasError('required')">
                      El campo Email o nombre de usuario es requerido
                    </div>
                    <div *ngIf="getUserField?.hasError('email')">
                      Debe ingresar un correo válido
                    </div>
                </div>
            </div>

            <div class="form-outline mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password"
                      class="form-control form-control-lg"
                      formControlName="password"
                      required
                      [ngClass]="{'is-invalid': getPasswordField?.touched && getPasswordField?.errors }"/>
                <div *ngIf="getPasswordField?.touched && getPasswordField?.errors" class="invalid-feedback">
                    El campo Contraseña es requerido
                </div>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <div class="container-buttons">
                <button type="button" class="btn btn-primary btn-lg" (click)="login()">Login</button>
              </div>
              <div class="container-buttons">
                <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta?
                    <a routerLink="/auth/register-user" class="link-danger">Registrate</a>
                  </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <app-alert [alert]="alert"></app-alert>
  </section>