body {
    background-color: gray !important;
}

.container-buttons {
    display: flex;
    justify-content: end;
    grid-gap: 10px;
}

.container-principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-form{
    width: 40%;
    margin: auto;
    border-radius: 20px;
    background: linear-gradient(#fdfdfd, #a8bfff);
}

h3 {
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: 12px;
    position: relative;
}

h3::after {
    content:'';
    position:absolute;
    width:150px;
    height: 2px;
    background:#1f74df;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border-radius: 10px;
}

button {
    width: 100%;
    margin-top: 1em;
}