<div class="container">
    <div class="container-form">
        <h3>Cambiar contraseña</h3>
        <form [formGroup]="frmReset" class="needs-validation" novalidate>
            <div class="row margin-rows">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="form-label required-label">Nueva contraseña</label>
                    <div class="input-group">
                        <input [type]="typeControl2"
                                class="form-control"
                                formControlName="newPassword"
                                [ngClass]="{'is-invalid': getNewPassField?.touched && getNewPassField?.errors }">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" (click)="changeType(2)">
                            <i class="bi bi-eye" *ngIf="iconBtn2"></i>
                            <i class="bi bi-eye-slash" *ngIf="!iconBtn2"></i>
                        </button>
                    </div>
                    <div *ngIf="getNewPassField?.touched && getNewPassField?.errors" class="invalid-feedback">
                        <div *ngIf="getNewPassField?.hasError('required')">
                          El campo nueva contraseña es requerido
                        </div>
                        <div *ngIf="getNewPassField?.hasError('minlength')">
                          La contraseña debe contener mínimo 8 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-rows">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="form-label required-label">Confirmar contraseña</label>
                    <div class="input-group">
                        <input [type]="typeControl3"
                                class="form-control"
                                formControlName="confirmPassword"
                                [ngClass]="{'is-invalid': getConfirmPassField?.touched && getConfirmPassField?.errors }">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" (click)="changeType(3)">
                            <i class="bi bi-eye" *ngIf="iconBtn3"></i>
                            <i class="bi bi-eye-slash" *ngIf="!iconBtn3"></i>
                        </button>
                    </div>
                    <div *ngIf="getConfirmPassField?.touched && getConfirmPassField?.errors" class="invalid-feedback">
                        <div *ngIf="getConfirmPassField?.hasError('required')">
                          El campo confirmar contraseña es requerido
                        </div>
                        <div *ngIf="getConfirmPassField?.hasError('minlength')">
                          La contraseña debe contener mínimo 8 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-button">
                    <button class="btn btn-primary" (click)="save()">Cambiar contraseña</button>
                </div>
            </div>
        </form>
    </div>
    <app-alert [alert]="alert"></app-alert>
</div>