.container-form {
    width: 400px;
    margin: 10% auto;
}

h3 {
    text-align: center;
    margin-bottom: 0.5em;
    padding-bottom: 6px;
    position: relative;
}

h3::after {
    content:'';
    position:absolute;
    width:150px;
    height: 2px;
    background:#1f74df;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border-radius: 10px;
}

.container-button{
    display: flex;
    justify-content: center;
}

.invalid-feedback{
    display: block !important;
}

.margin-rows {
    margin-bottom: 4%;
}